{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Horario{% endblock %}</h1>
{% endblock %}


{% block content %}
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th> Hora</th>
                <th> Electrodomésticos</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in horario.items() %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}