{% extends 'base.html' %}

{% block header %}
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">{% block title %}ahorra hoy, vive mañana{% endblock %}</h1>
            <p class="splash-subhead"> Revoluciona el consumo de energía en tu hogar o lugar de trabajo</p>
            <!-- <a class="pure-button pure-button-primary" href="{{ url_for('todo.create') }}">Get started</a> -->
            {% if g.user %}
                <!-- <a class="action" href="{{ url_for('todo.create') }}">Nuevo</a> -->
                <a class="pure-button pure-button-primary" href="{{ url_for('todo.form') }}">Get started</a>
            {% else %}
                <a class="pure-button pure-button-primary" href="{{ url_for('auth.register') }}">Get started</a>
            {% endif %}
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">        
            <h2 class="content-head is-center">QUÉ ES RETECH</h2>
            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">Contexto</h3>
                    <p>
                        Aproximadamente 30% del consumo total de energía en Estados Unidos viene del sector residencial, 
                        y se espera que esta cantidad de consumo aumente dado al uso de electrodomésticos y a la creciente 
                        demanda de electricidad en el mundo. Como consecuencia, la red eléctrica 
                        tradicional está enfrentando múltiples retos tales como mantenimiento, sostenibilidad, y fiabilidad.

                    </p>
                </div>
            </div>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">Consciencia Ambiental</h3>
                    <p>
                        Buscando ser más amigables con el ambiente, la demanda de fuentes de energía limpia ha crecido y seguirá 
                        creciendo conforme avance la tecnología al rededor del desarrollo sostenible. Así, edificios e incluso 
                        casas se están convirtiendo en pequeñas plantas eléctricas, donde los habitantes son consumidores y productores 
                        activos de energía.
                    </p>
                </div>
            </div>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">Problema</h3>
                    <p>
                        Muchas de las tecnologías usadas para adquirir energía limpia (principalmente celdas fotovoltaicas y turbinas 
                        eolicas) dependen del clima y frecuentemente están disponibles en momentos donde los habitantes no están en 
                        casa o no están usando la electricidad. 
                    </p>
                </div>
            </div>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">RETECH</h3>
                    <p>
                        ¡Te ofrecemos una solución!. Solamente con los datos de cuanta energía produces y tu ubicación
                        diseñamos un horario con las horas en las que puedes usar tus electrodomésticos para aprovechar al 
                        máximo la energía renovable y minimizar el uso y la dependencia de la energía de la red local.

                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<ul>
    {% for todo in todos %}
    <li class="todo">
        <div>
            
                {% if todo['completed'] == 1 %}
                <strike>{{ todo['description']}}</strike>
                {% else %}
                {{ todo['description']}}
                {% endif %}
            <div class="about">{{ todo['created_at'].strftime('%y-%m-%d') }}</div>
            <a class="action" href="{{ url_for('todo.update', id=todo['id']) }}">Editar</a>
        </div>
    </li>
    {% if not loop.last %}
    <hr>
    {% endif%}
    {% endfor %}
</ul>
{% endblock %}